Hello! Player two, please type in your name to begin.



<form method = "post" action = "player2_name"> 
	<input type = "text" autofocus="autofocus"   name2 = "user2_name">
	<input type = "submit"> 
</form> 