<!doctype html>
<html lang='en'>
    <body>
    	<center>
        <div class='header-container'>
            <h1 id='header'><a href='/'>Don't Delete the Rainbow</a></h1>
        </div>
  <header>

            <ul class="textstyle">
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                </li>
                <li>
                    <a href="/enter_word">
                        Play
                    </a>
                </li>
            </ul>
    </header>
    </center>
    </body>
</html>