Hello <%= name %>. Please enter a word that is 3-7 letters long.
</p>
<form method = "post" action = "word">

<input type = "password" min= "3" max = "7" name = "new_word" autofocus="autofocus" placeholder="Secret Word" >
<input type = "submit">




<!-- <script src = "js/dynamic_letter_boxes.js"></script>
 -->

</form>