
<div class="form-container">
	<center><p</p>

Hello <%= name %>. Please enter a secret word that is 3-7 letters long.

	<form action="/word" method="post">
    <input type = "password" min= "3" max = "7" name = "word" autofocus="autofocus" placeholder="Secret Word" >

	</form>
    </center>
</div>





</form>