Welcome <%= name2 %>! The blanks below represent spaces for the secret word. If you guess correctly, at least one space will be filled in with your letter. An incorrect guess will begin construction of the hangman's gallows.  A list of incorrect letters will display on the screen so you don't waste your guesses, because if you guess wrong 10 times, YOU'RE DEAD! Now, please guess a letter.




<form method = "post" action = "guess"> 
	<input type = "text" minlength="1" maxlength="1" autofocus="autofocus"   name = "user_guess">
	<input type = "submit"> 
</form> 